.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.small {
  width: 300px;
}

.bookCard {
  font-size: 120px;
}

.inline {
  display: inline-block;
  margin: 20px;
}

.center {
  text-align: center;
}

.red {
  color: red;
}

.body {
  margin-top: 70px;
}

.bookForm {
  width: 600px;
}

.bookForm input[type='text'] {
  width: 80%;
}

.inputStar {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAHdElNRQfkAxoRLhLcX488AAAA40lEQVQoz33NsUtCcRTF8c/LQniEOCVJi0s15NIPQsf+hCKnhsy51b9Bof6HaK7/IXBxelE4BRUOJYS61dLUYKYPrDPde+73nEtabW3/KGdkJDdvZVLAmU/P1nUX5zNe7An6lhcDdR3QUZ+ZkQ1VQRB8OHGLfVdWJRKJbuTRikuJxPtcW0EQnPpi26vjhS9r3uzwF3JkoDxdygYOUudDg0l6qobrFHCjMRmWfowt9yngwWYa2HUHYjFIhHk+MramqGVoqKWoYCyaNZRkXeiJVVTEes5llWYNFU+a8r97XlNfFb4B9cYx/Y6IQuAAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjAtMDMtMjZUMTc6NDY6MTgrMDA6MDCKmbNqAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIwLTAzLTI2VDE3OjQ2OjE4KzAwOjAw+8QL1gAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAASUVORK5CYII=');
  height: 20px;
  width: 20px;
}

.selected {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAASfAAAEnwEDyqgoAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAF1QTFRF/////6oA/5Ik7ZIS64kd74wZ74ob7oga74wZ64kY7IsX7Yoa7ooX7IkZ7Yka7ooY7Ioa7IoZ7YoZ7YkZ7ooZ7YoZ7YoZ7YoZ7YoZ7YoZ7YoZ7YoZ7IoZ7Yoa7YoZ5GA/wgAAAB50Uk5TAAMHDhofMDw+QUJGTFKAkpajpra/xNrd4fT19vj6syfAawAAAG1JREFUGBlVwQcSgCAQBLC1Ym/Ylf3/MwW8cTCBaFv8ZMZkCA3kgEB6k3eKTzzRmmI4Za9XQ8+sui+x8WdDfTFw1UB18nNWsIqD4ijgjRQjXppC47VT7PASWvNMK4GTk4sC1ELmcKKugdd0EfAAKWwOy2QTDBEAAAAASUVORK5CYII=');
}

.starsHolder {
  display: inline-block;
  cursor: pointer;
}
